.page-container {
  height: 100vh; /* 100% de la hauteur de la fenêtre */
}
.bgimg-1{
    background-image: url('../../assets/img/bg.png');
    min-height: 100vh;
}
.bgimg-2{
    background-image: url('../../assets/img/bg2.jfif');
    min-height: 100vh;
}
.bgimg-1, .bgimg-2{
    position: relative;
    z-index: 0 ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-1 .container-text{
    position: absolute;
    display: flex;
    min-width: 100%;
    top:20vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    font-family: 'CrimsonText';
    font-size: 1.1em;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}
.StartBand{
    position: relative;
    display: flex;
    z-index: 1;
    overflow-x: hidden;

}
.StartBand p {
    position: relative;
    display: flex;
    font-family: 'CrimsonText';
    font-size: 4vw;
}
.right{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
}

.left{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
}
.left p {
    font-size: 4vw;
    color: #ffffff;
}
.right p {
    font-size: 4vw;
    color: #000000;
}
