<div class="page-container">
  <app-navbar></app-navbar>
  <div class="bgimg-1">
    <div class="container-text">
      <h1>League of Legends</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="StartBand">
    <div class="left">
      <p [ngClass]="{'scrolled': isScrolled}" [style.left.px]="scrolledPosition">You can check champions description.</p>
    </div>
  </div>

  <div class="StartBand">
    <div class ="right" >
      <p [ngClass]="{'scrolled': isScrolled}" [style.left.px]="- scrolledPosition">You can check champions description.</p>
    </div>
  </div>

  <div class="StartBand">
    <div class="left"><p [ngClass]="{'scrolled': isScrolled}" [style.left.px]="scrolledPosition">You can check champions description.</p></div>
  </div>
  <div class="StartBand">
    <div class="right">
      <p [ngClass]="{'scrolled': isScrolled}" [style.left.px]="- scrolledPosition">You can check champions description.</p>
    </div>
  </div>
  <div class="bgimg-2">
  </div>
  <!-- <a href="/champions" class="buttonStart">
    <p>Start Now</p>
    <img src="../../assets/img/right-arrows.svg" alt="arrow" class="arrow">
  </a>
  <div class="context">
    <p>Lorem:</p>
    <div class="context-container">
      <div class="actions-container">
        <img class="image" src="../../assets/img/champions.svg">
        <p class="title">Champions</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      <div class="actions-container">
        <img class="image" src="../../assets/img/skins.svg">
        <p class="title">Skins</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      <div class="actions-container">
        <img class="image" src="../../assets/img/preview.svg">
        <p class="title">Preview</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div> -->
</div>
